.notification-banner {
    position: absolute;
    z-index: 3;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.75rem 1.25rem;
    background-color: var(--color-ternary);
    transform: translateY(-100%);
    opacity: 0;
}

.notification-active {
    animation: dropIn 0.3s ease-out forwards;
    animation-delay: 1s;
}

.notification-dismissed {
    animation: dropOut 0.3s ease-out forwards;
}

.notification-banner-title {
    font-size: 1.2rem;
}

.notification-banner-text {
    text-align: start;
    color: var(--text-color-1);
    font-size: 1rem;
}

.notification-banner-text span {
    color: var(--text-color-1);
    font-weight: 800;
}

.notification-dismiss-button {
    cursor: pointer;
}

@keyframes dropIn {
    0% {
        opacity: 1;
        transform: translateY(-100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes dropOut {
    0% {
        opacity: 1;
        transform: translateY(0%)
    }

    100% {
        opacity: 1;
        transform: translateY(-100%)
    }
}


@keyframes dropInMobile {
    0% {
        opacity: 1;
        transform: translateY(-150%)
    }

    100% {
        opacity: 1;
        transform: translateY(-25%)
    }
}

@keyframes dropOutMobile {
    0% {
        opacity: 1;
        transform: translateY(-25%)
    }

    100% {
        opacity: 1;
        transform: translateY(-150%)
    }
}


/* Mobile Screen */
@media screen and (max-width: 500px) {

    .notification-banner {
        transform: translateY(-150%);
    }

    .notification-active {
        animation: dropInMobile 0.3s ease-out forwards;
        animation-delay: 1s;
    }

    .notification-dismissed {
        animation: dropOutMobile 0.3s ease-out forwards;
    }
}