.results-page-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 35rem;
    max-height: 55rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.backarrow-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.backarrow {
    color: rgb(127, 187, 255);
    filter: opacity(50%);
    transition: all 0.4s;
}

.backarrow:hover {
    filter: opacity(100%);
}