.submit-btn {
    padding: 1rem 3rem;
    background-color: rgba(127, 187, 255);
    border-radius: 10px;
    font-size: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    transition: opacity 0.25s;
    transition-delay: 1s;
    opacity: 1;
}

.submit-btn-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}